:root{
  --cor-principal1:#1a2037;
  --cor-principal2: #ef374e;
  --cor-secundaria1: #3341c7;
  --cor-secundaria2: #fafafa; 
}

body{
    min-width: 700px;
    width: 100vw;
    min-height: 100vh;
    background-image: url("https://pbs.twimg.com/media/FGCaE1NWYAAtA1g.jpg:large");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formulario-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.356);
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
}

.formulario-titulo h2{
    align-items: center;
    font: 50px minecraft;
    border-radius: 0px;
    border: 10px dashed var(--cor-principal2);
    color: var(--cor-principal1);
}

.formulario-img{
    width: 500px;
}

.form {
    width: 300px;
    padding: 20px;
    background: #3342c73d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
   
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--cor-principal2);
    font-weight: 400;
    font: 0.8rem minecraft, serif;
  }
  
  .title span {
    text-align: center;
    color: var(--cor-principal1);
    font-weight: 600;
    font-size: 20px;
  }

  .midias {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .midias img{
    align-self: center;
    width: 2rem;
    height: 2rem;
  }  
  .midias-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
    border: 0.27rem solid var(--cor-principal2);
    background-color: var(--cor-secundaria2);
    box-shadow: 4px 4px var(--cor-principal1);
    transition: border-color 0.3s,
    box-shadow 0.3s;
  }

  .midias-button:hover,
  .midias-button:focus,
  button:hover,
  button:focus{
    box-shadow: none;
    transition: 0.3s;
    transform: translate(3px, 3px);
  }
  

  label{
    padding: 0.1rem 0.3rem;
    font: 0.8rem minecraft, serif;
    border-radius: 90px;
    color: var(--cor-principal1);
    background: var(--cor-lightgreyInput);
    border: 3px solid var(--cor-principal2);
    box-shadow: 1px 3px var(--cor-principal1);
    transition: 0.3s;
  }
  
  input, textarea,
  button{
    width: 100%;
    font: 1rem Lato, serif;
    padding: 0.3rem;
    font-weight: 700;
  }

  input, textarea{
    color: var(--cor-secundaria2);
    background: #1a203744;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s,
    box-shadow 0.3s;
  }

  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus{
    outline: none;
    border: 0.3rem solid;
    border-color: var(--cor-principal2);
    box-shadow: 0 0 0 0.3125rem  #1a203744;
  }

  textarea{
    min-height: 6.5rem;
    resize: vertical;
  }
  
  button{
    align-self: center;
    font: 0.8rem minecraft, serif;
    width: 50%;
    border: none;
    border-radius: 90px;
    color: var(--cor-principal1);
    background: var(--cor-lightgreyInput);
    border: 9px solid var(--cor-principal2);
    box-shadow: 1px 3px var(--cor-principal1);
    cursor: pointer;
    transition: 0.3s;
  }
  

  button:disabled{
    cursor: not-allowed;
    background: var(--cor-principal1);
  }

  .sucess,
  .error{
    text-align: center;
  }

  .sucess{
    color: greenyellow;
  }

  .error{
    color: tomato;
  }









