:root{
  --cor-principal1:#1a2037;
  --cor-principal2: #ef374e;
  --cor-secundaria1: #3341c7;
  --cor-secundaria2: #fafafa; 
}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.formulario-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding-top: 1rem;
    gap: 1.5rem;
    border-top: 1px solid #1a203767;
    border-bottom: 1px solid #1a203767;
}

.formulario-texto h2{
    align-items: center;
    font: 2rem minecraft;
    padding: 1%;
    border: 0.5rem solid var(--cor-principal1);
    border-radius: 99px;
    box-shadow: 0.2rem 0.2rem var(--cor-secundaria1);
    color: var(--cor-principal1);
}

.formulario-img{
    width: 60%;
}

.formulario p{
  
  text-align: center;
  font: 1.4rem Roboto, serif;
  font-weight: 800;
  color: var(--cor-principal1);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    background: #3342c73d;
    border-radius: 5px;
   
  }
  
  .title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--cor-principal1);
    font: 2.3rem minecraft, serif;
    font-weight: 600;
  }
  

  .midias {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .midias img{
    align-self: center;
    width: 2rem;
    height: 2rem;
  }  
  .midias-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
    border: 0.27rem solid var(--cor-principal1);
    background-color: var(--cor-secundaria2);
    box-shadow: 4px 4px var(--cor-secundaria1);
    transition: border-color 0.3s,
    box-shadow 0.3s;
  }

  .midias-button:hover,
  .midias-button:focus,
  button:hover,
  button:focus{
    box-shadow: none;
    transition: 0.3s;
    transform: translate(3px, 3px);
  }
  

  label{
    padding: 0.1rem 0.3rem;
    font: 0.8rem minecraft, serif;
    border-radius: 90px;
    color: var(--cor-principal1);
    background: var(--cor-lightgreyInput);
    border: 3px solid var(--cor-principal1);
    box-shadow: 1px 3px var(--cor-secundaria1);
    transition: 0.3s;
  }
  
  input, textarea,
  button{
    width: 100%;
    font: 1rem Lato, serif;
    padding: 0.3rem;
    font-weight: 700;
  }

  input, textarea{
    padding-left: 2rem;
    color: var(--cor-principal1);
    background: #1a203744;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s,
    box-shadow 0.3s;
  }

  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus{
    outline: none;
    border: 0.3rem solid;
    border-color: var(--cor-principal1);
    box-shadow: 0 0 0 0.3125rem  #1a203744;
  }

  textarea{
    min-height: 6.5rem;
    resize: vertical;
  }
  
  button{
    align-self: center;
    font: 0.8rem minecraft, serif;
    width: 50%;
    border: none;
    border-radius: 90px;
    color: var(--cor-principal1);
    background: var(--cor-lightgreyInput);
    border: 9px solid var(--cor-principal1);
    box-shadow: 3px 3px var(--cor-secundaria1);
    cursor: pointer;
    transition: 0.3s;
  }
  

  button:disabled{
    cursor: not-allowed;
    background: var(--cor-principal1);
    color: var(--cor-secundaria2);
  }

  /*Página do Obrigado*/

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0d0e14;
}

.myCard {
  background-color: transparent;
  width: 40%;
  height: 20rem;
  perspective: 1000px;
}

.title {
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 0;
  color: var(--cor-principal1);
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 8px solid var(--cor-secundaria2);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before,
.backSide,
.backSide::before  {
  background: var(--cor-secundaria1);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

.card-link{
  padding: 2%;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font: 1rem minecraft, serif;
  border-radius: 1rem;
  border: 0.5rem solid var(--cor-principal1);
  background-color: var(--cor-secundaria2);
  box-shadow: 0 0 0.1rem var(--cor-secundaria2);
  color: var(--cor-principal1);
}




@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}