*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Mario;
    src: url("fontes/SuperMario256.ttf");
}

@font-face {
    font-family: minecraft;
    src: url("fontes/Minecrafter.Reg.ttf");
}

@font-face {
    font-family: pixel;
    src: url("fontes/Pixelmania.ttf");
}

@font-face {
    font-family: game;
    src: url('fontes/game1.ttf');
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("https://pbs.twimg.com/media/FGCaE1NWYAAtA1g.jpg:large");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    background-color: rgb(2, 8, 4);
    width:100%;
    height: 8rem;

}

.header a{
    height: 3rem;
    color: #ffff;
    text-decoration: none;
    font-family: minecraft;
    font-size: 150%;
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.header a:hover{
    color: #660303;
    text-shadow: 0.2rem 0.2rem #150366;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3%;
}

.apresentacao img{
    width: 12rem;
    height: 12rem;
    border-radius: 40px;
    border: 0.4rem dashed #000000;
    margin-left: 5%;
}

.apresentacao img:hover{
    border: 0.4rem dashed #660303;
    text-shadow: 0.2rem 0.2rem #150366;

}

.apresentacao h1{ 
    width: 70%;
    height: 60%;
    font-family:mario;
    font-size: 3.9rem;
    color: #ffff;
    text-align: center;
    text-shadow: 0.2rem 0.5rem 0.1rem #000000;
}

.apresentacao h1:hover{
    color: #660303;
    text-shadow: 0.2rem 0.2rem #150366;

}

.container{
    border: 3px solid black;
    border-radius: 1%;
    box-shadow: 2px 2px 2px black;
    background-color: #ffff;
    width: 80%;
    display: flex;
    flex-direction: column;  
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #dad609;
    border-radius: 4%;
    box-shadow: 3px 3px 2px #000000;
    width: 24%;
    height: 20rem;
    margin: 6% 2% 2% 2%;
    padding-bottom: 1rem;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd6EGerG1BzalJVZUqArxgagR56BsI3R_ma3H_Gvlnp2udr1OXfcOopSShVJCH8mfWiS4&usqp=CAU");
    
}

.menu a{
    border: 3px solid #ffffff;
    border-radius: 1rem;
    display: flex;
    margin: 10%;
    padding: 5%;
    font-family: minecraft;
    font-size: 1.8rem;
    text-decoration: none;
    color: #dad609;
    background-color: #660303;
    box-shadow: 4px 2px 3px #000000;
}

.menu a:hover{
    margin-left: 22%;
    border: 2px solid black;
    color: #660303;
    background-color: #ffff;
    box-shadow: 4px 2px 3px #150366;
}

#sobre{
    display: flex;
    align-self: flex-end;
    margin-top: -35%;
    margin-right: 2%;
    font-family: minecraft;
    font-size: 2rem;
    color:#660303;
    text-shadow: 2px 2px #150366;
}

#texto{
    width: 68%;
    display: flex;
    align-self: flex-end;
    margin-top: 2%;
    margin-right: 2%;
    font-family: game;
    font-size: 1rem;
}

.listas{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.listas ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.listas ul h1{
    display: flex;
    justify-content: center;
    font: 2rem minecraft;
    color: #660303;
    text-shadow: 2px 2px black;
    padding-top: 1%;
}

.caixa-items{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

.listas ul li{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2%;
}


.listas ul li p{
    font: 1rem game, serif;
    text-align: center;
}

.listas ul li img{
    width: 15rem;
    height: 12rem;
    margin-top: 5%;
    border-radius: 40px;
}

#seta-retorno{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-radius: 40px;
    position: fixed;
    top: 93%;
    right: 5%;
}

#seta-retorno img{
    width: 2rem;
    height:2rem;
    background-color: #ffff;
    border-radius: 40px;
    box-shadow: 0px 4px #000000;
}


.rodape{
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1.2rem minecraft;
    text-shadow: 4px 4px #150366;
    margin-top: 1%;
    padding: 1%;
}
















