:root{
    --cor-principal1:#1a2037;
    --cor-principal2: #ef374e;
    --cor-secundaria1: #3341c7;
    --cor-secundaria2: #fafafa; 
}

.cartas{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 20rem;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid var(--cor-principal1);
    border-left: 2px  rgba(46, 33, 33, 0.774) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.664);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: var(--cor-principal1);
  }

  .card h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 1.3rem;
    color: var(--cor-principal1);
    text-shadow: -10px 5px 10px var(--cor-secundaria1);
  }
  .card-img{
    width: 95%;
    height: 75%;
  }
  
  .card:hover {
    width: 30rem;
    height: 25rem;
    transform: skew(0deg);
    border-top: 3px solid var(--cor-principal1);
    
  }
  
  .align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }
  
  .red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
 
  
  