*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal1:#1a2037;
    --cor-principal2: #ef374e;
    --cor-secundaria1: #3341c7;
    --cor-secundaria2: #fafafa; 
}


/*seleção de fontes utilizadas*/
@font-face {
    font-family: mario;
    src: url("../fontes/mario.ttf");
}

@font-face {
    font-family: minecraft;
    src: url("../fontes/minecraft-reg.ttf");
}


.container{
    padding: 20px 40px;
}

body{
    min-width: 700px;
    width: 100vw;
    min-height: 100vh;
    background-image: url("https://pbs.twimg.com/media/FGCaE1NWYAAtA1g.jpg:large");
    display: flex;
    flex-direction: column;
    align-items: center;
}


.painel{
    border: 0.4rem solid var(--cor-principal1);
    border-radius: 1%;
    box-shadow: 2px 2px 2px var(--cor-principal1);
    background-color: var(--cor-secundaria2);
    width: 80%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;  
}

header{
    width: 100%;
    height: 4%;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    padding-right: 8rem;
    margin-bottom: 2rem;
    background-color: var(--cor-principal1); 
}

.nav-link{
    align-self: center;
    text-align: center;
    width: 15%;
    font: 1.5rem minecraft;
    border: 0.5rem solid var(--cor-principal1);
    border-radius: 99px;
    background-color: var(--cor-secundaria2);
    box-shadow: 4px -4px var(--cor-secundaria1);
    color: var(--cor-principal1);
    text-decoration: none;
}


.pagina-atual{
    align-self: center;
    text-align: center;
    width: 15%;
    font: 1.5rem minecraft;
    border: 0.5rem solid var(--cor-principal1);
    border-radius: 99px;
    background-color: var(--cor-secundaria2);
    box-shadow: 4px -4px var(--cor-principal2);
    color: var(--cor-principal1);
    text-decoration: none;    
}

/*seta de voltar ao topo*/
.seta-retorno{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-radius: 40px;
    position: fixed;
    top: 93%;
    right: 5%;
}

.seta-retorno img{
    width: 2rem;
    height:2rem;
    background-color: #ffff;
    border-radius: 40px;
    box-shadow: 0px 4px var(--cor-principal1);
}

/*faixa de rodapé*/
footer {
    display: flex;
    align-items: center;
    width: 100%;
    font: 1.2rem minecraft;
    color: var(--cor-secundaria2);
    background: var(--cor-principal1); 
}

.footer-mail{
    align-self: center;
    padding: 0.5rem 0 0.1rem 0.8rem;
    width: 75%;
    margin-left: 6rem;
    border: 0.5rem solid var(--cor-principal1);
    border-radius: 99px;
    background-color: var(--cor-secundaria2);
    box-shadow: 4px -4px var(--cor-secundaria1);
    color: var(--cor-principal1);
    text-decoration: none;
}

.footer-midias {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    padding: 0 6rem;
  }

  .footer-midias img{
    align-self: center;
    width: 1rem;
    height: 1rem;
  }  

  .footer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    border: 0.27rem solid var(--cor-principal1);
    background-color: var(--cor-secundaria2);
    box-shadow: 4px -4px var(--cor-secundaria1);
    transition: border-color 0.3s,
    box-shadow 0.3s;
  }
  
  .nav-link:hover,
  .pagina-atual:hover,
  .footer-mail:hover,
  .footer-mail:focus,
  .footer-button:hover,
  .footer-button:focus{
    box-shadow: none;
    transition: 0.3s;
    transform: translate(3px, -3px);
  }
  

 
  .footer-button:active{
    box-shadow: 0px 0px var(--cor-principal1);
    transform: translate(3px, 3px);
  }
  
















